.simple{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.header{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.ourgoals{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.faq{
    width: 80%;
    margin: auto;
    outline: solid 1px; 
}
.contact{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.legal{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}

